.about {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    to bottom,
    var(--second),
    var(--second),
    white
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(48, 43, 43);
}

.circle {
  background-image: url('/img/circle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTextCont {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutTitle {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: var(--fourth);
  margin-bottom: 30px;
}

.aboutText {
  font-weight: 500;
  color: var(--text);
}

.resume {
  text-decoration: underline;
  color: var(--text);
}

@media screen and (min-width: 768px) {
  .aboutTextCont {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .circle {
    height: 70%;
    margin-bottom: 70px;
  }

  .aboutTextCont {
    padding-left: 60px;
    padding-right: 60px;
  }

  .aboutTitle {
    font-size: 60px;
  }

  .aboutText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1224px) {
  .aboutTextCont {
    padding-left: 160px;
    padding-right: 160px;
  }
}

@media screen and (min-width: 1400px) {
  .about {
    padding: 0;
  }

  .circle {
    height: 80%;
    margin-bottom: 50px;
    background-repeat: repeat-x;
    margin-bottom: 200px;
  }

  .aboutTextCont {
    padding-left: 200px;
    padding-right: 200px;
  }

  .aboutTitle {
    font-size: 70px;
  }
}
