.about {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    var(--second),
    var(--second),
    white
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(48, 43, 43);
}

.circle {
  background-image: url('/img/circle.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTextCont {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.aboutTitle {
  font-family: 'DM Serif Display', serif;
  font-size: 50px;
  color: var(--fourth);
  margin-bottom: 30px;
  text-shadow: 2px 2px 2px var(--fifth);
}

.aboutText {
  font-weight: 500;
  color: wheat;
}

.resume {
  text-decoration: underline;
  color: wheat;
}


@media screen and (min-width: 600px) {
  .aboutTextCont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media screen and (min-width: 948px) {
  .circle {
    height: 900px;
    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .circle {
    margin-bottom: 70px;
  }

  .aboutTitle {
    font-size: 60px;
  }

  .aboutText {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  .about {
    padding: 0;
    margin-bottom: 200px;
  }

  .circle {
    background-repeat: repeat-x;
    /* margin-bottom: 200px; */
  }

  .aboutTitle {
    font-size: 70px;
  }
}
